body{
    background-color: black;
}
.profile-container{
    height: 200px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.profile-img img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 50px;
    margin-left: 40px;
    object-position:top;
}
.profile-container h1{
    color: #ffffff;
    margin-left: 170px;
    margin-top: -80px;
    font-size: 32px;
    
}
.profile-container p{
    color: #ffffff;
    margin-left: 170px;
    margin-top: -10px;
    font-size: 12px;
    
}
.experiece-component h4{
    color: #000000;
}